{% extends 'base.html' %}
{% load static %}
{% block mainbody %}
<script>
  const isNullOrUndefined = obj => obj === null || obj === undefined;
  $(document).ready(function () {
    $.ajaxSetup({
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
  });
</script>

<body>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div id='gender_distribution'>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <div id='complication_distribution'>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="card">
        <select id='selected_dis_index'>
        </select>
        <div id='abnormal_disease_index'>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="card mb-3">
        <div class="card-body">
          <div style="float: left;width: 100%;">
            <div id="bar_fig"></div>
            <!--血压哑铃图-->
            <div class="row">
              <div class="col-sm-10">
                <div id="blood_pressure_fig"></div>
              </div>
              <!--选择框-->
              <div class="col-sm-2">
                <div style="margin-top: 50px;">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>按ID升序
                    </label>
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="7">按年龄升序
                    </label>
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="9">按BMI升序
                    </label>
                  </div>
                </div>
              </div>
              <!--end血压哑铃图-->
            </div>
            <!-- 选项卡区-->
          </div>
          <!--关系图-->
          <div style="float: left">
            <div id="disease_relationship_fig"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="card mb-3">
        <div class="card-body">
          {% block ralationbody %}
          {% endblock ralationbody %}
        </div>
      </div>
    </div>
  </div>
</body>
<style>
  .mycard {
    height: 200px;
    border: 1px solid black;
  }
</style>
<script>
  var dis_index_list = [
    '血清白蛋白', '谷丙转氨酶', '谷草转氨酶', '直接胆红素', '空腹血糖', '糖化血红蛋白', '甘油三酯', '总胆固醇', '碱性磷酸酶', '血肌酐', '高密度脂蛋白胆固醇', '血红蛋白', '红细胞压积', '低密度脂蛋白胆固醇', '纤维蛋白原', '血尿素', '血清尿酸', '血小板', '总胆红素', '总蛋白', '乳酸脱氢酶', '谷氨酰胺转移酶', '凝血酶原时间', '凝血酶原活动度', '部分活化凝血酶原时间', '间接胆红素', '球蛋白'
  ]
  let index_list = ['ALB1', 'ALT1', 'AST1', 'DBILI1', 'GLU1', 'HBA1C1', 'TG1', 'TC1', 'ALP1', 'SCR1', 'HDL_C1', 'HB1', 'PCV1', 'LDL_C1', 'FBG1', 'BU1', 'SUA1', 'PLT1', 'TBILI1', 'TP1', 'LDH_L1', 'GGT1', 'PT1', 'PTA1', 'APTT1', 'IBILI1', 'GLO1'
  ]
  var selected_dis_index = document.getElementById('selected_dis_index')
  for (let i = 0; i < dis_index_list.length; i++) {
    var option = document.createElement("option");
    option.value = index_list[i]
    option.text = dis_index_list[i]
    selected_dis_index.appendChild(option);
  }
  window.onload = function () {
    $.ajax({
      type: "POST",
      data: { id: selected_dis_index.value },
      url: "{% url 'get_abnormal_disease_index_data' %}",
      cache: false,
      success: function (result) {
        let data = result['data'];
        //异常指标比例分布
        let abnormal_disease_index = echarts.init(document.getElementById('abnormal_disease_index'));
        abnormal_disease_index.resize({
          width: 300,
          height: 180
        });
        abnormal_disease_index.setOption(genderPieOption(data, 3));
      },
      error: function (XMLHttpRequest, textStatus) {
        //alert("ajax2: " + textStatus);
      }
    });
  }

  selected_dis_index.onchange = function () {
    $.ajax({
      type: "POST",
      data: { id: selected_dis_index.value },
      url: "{% url 'get_abnormal_disease_index_data' %}",
      cache: false,
      success: function (result) {
        let data = result['data'];
        //异常指标比例分布
        let abnormal_disease_index = echarts.init(document.getElementById('abnormal_disease_index'));
        abnormal_disease_index.resize({
          width: 300,
          height: 180
        });
        abnormal_disease_index.setOption(genderPieOption(data, 3));
      },
      error: function (XMLHttpRequest, textStatus) {
        //alert("ajax2: " + textStatus);
      }
    });
  }

</script>
<script src="{% static 'js/my_echart/options.js' %}"></script>
<script type="text/javascript">
  //性别分布
  let gender_distribution = echarts.init(document.getElementById('gender_distribution'));
  gender_distribution.resize({
    width: 300,
    height: 200
  });
  let gender_distribution_data = {{ genderdistributionData| safe }};
  gender_distribution.setOption(genderPieOption(gender_distribution_data, 1));
  //并发症分布
  let complication_distribution = echarts.init(document.getElementById('complication_distribution'));
  complication_distribution.resize({
    width: 300,
    height: 200
  });
  let complication_distribution_data = {{ complicationDdistributionData| safe }};
  complication_distribution.setOption(genderPieOption(complication_distribution_data, 2));
  //并发症柱状图
  let bar_fig = echarts.init(document.getElementById('bar_fig'));
  bar_fig.resize({
    width: 400,
    height: 300
  });
  let bar_data = {{ num_diabetes_complication| safe }};
  console.log(bar_data)
  bar_fig.setOption(barLineOption(bar_data, 5));
  /*bar_fig.on('legendselectchanged', function (params) {
    male = params.selected['男性患并发症'] || params.selected['男性无并发症'];
    female = params.selected['女性患并发症'] || params.selected['女性无并发症'];
    if (male && female) {
      bar_fig.setOption(barLineOption(bar_data, 5));
    } else if (female) {
      bar_fig.setOption(barLineOption(bar_data, 6));
    } else if (male) {
      bar_fig.setOption(barLineOption(bar_data, 7));
    }

  });
  bar_fig.on('datazoom', function (params) {
    let index = bar_fig._chartsMap["_ec_\u0000患病比例\u00000_series.line"]._data._approximateExtent.x;
    $.ajax({
      type: "POST",
      data: { left: index[0], right: index[1] },
      url: "{% url 'num_diabetes_complication' %}",
      cache: false,
      success: function (result) {
        let option = {
          series: [
            {
              name: "女性",
              data: result.data[0]
            },
            {
              name: "男性",
              data: result.data[1]
            },
          ]
        };
      },
      error: function (XMLHttpRequest, textStatus) {
        alert("ajax: " + textStatus);
      }
    });
  });*/

  /*
  let scatter_fig = echarts.init(document.getElementById('scatter_fig'));
  scatter_fig.resize({
    width: 600,
    height: 300
  });
  scatter_fig.setOption(scatterOption({{ scatterData| safe }}));
*/
  //血压哑铃图
  let blood_pressure_fig = echarts.init(document.getElementById('blood_pressure_fig'));
  blood_pressure_fig.resize({
    width: 400,
    height: 410
  });

  //isXLabel判断是在x轴还是在对象上
  var isXLabel = false
  //点击跳转到详情页
  blood_pressure_fig.on('click', function (params) {
    if (params.componentType == 'xAxis') {
      //页面跳转  ? 分隔实际的URL和参数 
      window.location.href = `individual?id=${params.value}`
    }
  });
  //hover显示按钮
  blood_pressure_fig.on('mousemove', function (params) {
    //当鼠标在x轴上时
    if (params.componentType == 'xAxis') {
      isXLabel = true;
      //记下位置
      var offsetX = params.event.offsetX + 10;
      var offsetY = params.event.offsetY + 10;
      //附上提示框
      blood_pressure_fig.dispatchAction({
        type: 'showTip',
        seriesIndex: 0,
        dataIndex: params.value - 1,
        position: [offsetX, offsetY]
      });
    }

  });
  blood_pressure_fig.on('mouseover', function (params) {
    isXLabel = false;
  });

  var bloodPressureData = {{ bloodPressureData| safe }};
  bar_fig.on('datazoom', function (params) {
    bloodPressureData1 = []
    let small = params.start / 8.33
    let big = params.end / 8.33
    let smalledge = 0
    let bigedge = 120
    if (small < 1) {
      smalledge = 0
    } else if (small < 3) {
      smalledge = 20
    }
    else if (small < 5) {
      smalledge = 30
    }
    else if (small < 7) {
      smalledge = 40
    }
    else if (small < 9) {
      smalledge = 50
    }
    else if (small < 11) {
      smalledge = 60
    }
    else {
      smalledge = 70
    }

    if (big > 11) {
      bigedge = 120
    } else if (big > 9) {
      bigedge = 71
    }
    else if (big > 7) {
      bigedge = 61
    }
    else if (big > 5) {
      bigedge = 51
    }
    else if (big > 3) {
      bigedge = 41
    }
    else if (big > 1) {
      bigedge = 31
    }
    else {
      bigedge = 21
    }
    for (let i = 0; i < bloodPressureData.length; i++) {
      if (bloodPressureData[i][7] > smalledge && bloodPressureData[i][7] < bigedge) {
        bloodPressureData1.push(bloodPressureData[i])
      }
    }
    blood_pressure_fig.setOption(bloodPressureOption(bloodPressureData1), true);
  });
  let bloodPressureOption_option = bloodPressureOption(bloodPressureData)
  //协同缩放

  blood_pressure_fig.setOption(bloodPressureOption_option);
  //疾病关系图
  /*let disease_relationship_fig = echarts.init(document.getElementById('disease_relationship_fig'));
  disease_relationship_fig.resize({
    width: 800,
    height: 600
  });
  let diseaseRelationshipData = {{ diseaseRelationshipData| safe }};
  //console.log(diseaseRelationshipData)
  disease_relationship_fig.setOption(diseaseRelationshipOption(diseaseRelationshipData));*/
  /*
  let biochemical_indexes_fig = echarts.init(document.getElementById('biochemical_indexes_fig'));
  biochemical_indexes_fig.resize({
    width: 500,
    height: 250
  });
  let biochemicalIndexesData = {{ biochemicalIndexesData| safe }};
  biochemical_indexes_fig.setOption(biochemicalIndexesOption(biochemicalIndexesData));

  let parallel_fig = echarts.init(document.getElementById('parallel_fig'));
  parallel_fig.resize({
    width: 800,
    height: 250
  });
  parallel_fig.setOption(parallelOption());*/
  $('input[type=radio][name=optionsRadios]').change(function () {
    if (this.value == '0') {
      bloodPressureData.sort(function (a, b) {
        return a[0] - b[0]
      })
    } else
      if (this.value == '7') {
        bloodPressureData.sort(function (a, b) {
          return a[7] - b[7]
        })
      }
      else
        if (this.value == '9') {
          bloodPressureData.sort(function (a, b) {
            return a[9] - b[9]
          })
        }
    blood_pressure_fig.setOption(bloodPressureOption(bloodPressureData), true)
  });

  var sortArray = function (nums) {
    var left = 0
    let right = nums.length - 1
    quicksort(nums, left, right)
    return nums
  };
  function quicksort(nums, left, right) {
    if (left > right) return
    let mid = findmid(nums, left, right)
    quicksort(nums, left, mid - 1)
    quicksort(nums, mid + 1, right)
  };
  function findmid(nums, left, right) {
    let leftindex = left
    let pivot = nums[right]
    for (let i = left; i < right; i++) {
      if (nums[i] < pivot) {
        [nums[i], nums[leftindex]] = [nums[leftindex], nums[i]]
        leftindex++
      }
    }
    [nums[right], nums[leftindex]] = [nums[leftindex], nums[right]]
    return leftindex
  }

</script>
{% endblock %}